@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid {
  display: grid;
}

h2 {
  padding: 20px 10px;
}
ul {
  list-style-type: none;
}
ul > li {
  display: inline-block;
  padding: 20px 10px;
}
@media only screen and (max-width: 900px) {
  body {
    /* background-color: #666; */
  }
  nav .flex {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  body {
    /* background-color: red; */
  }
  nav .flex {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  border-bottom: 1px solid #333;
  transition: 0.2s ease-in-out;
}

.category .flex {
  flex-wrap: wrap;
}

.category-item {
  height: 300px;
  width: 33.33%;
  flex-grow: 1;
  border: 2px solid white;
}

.shoes {
  background: url("../images/categories/shoes.jpg") no-repeat center/cover;
}
.hats {
  background: url("../images/categories/hats.jpg") no-repeat center/cover;
}
.t-shirt {
  background: url("../images/categories/tshirts.jpg") no-repeat center/cover;
}
.glasses {
  background: url("../images/categories/sunglasses.jpg") no-repeat center/cover;
}
.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-item h2 {
  text-transform: uppercase;
  background-color: #000;
  color: whitesmoke;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .category-item {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .category-item {
    width: 100%;
  }
}
.product-grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.product-header {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px 0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  /* height: 300px; */
}
.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.product p {
  margin-bottom: 5px;
}

.product .title {
  font-size: 1.2rem;
  font-weight: bold;
}
.product .price {
  font-style: italic;
  font-weight: bold;
}
/* Search */
.search-products .container {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

.search-products .product-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.product-items .product {
  text-align: center;
}
.search-products .filters {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 20px;
}
.search-products .filters h2 {
  margin: 0;
}
.filters .filters-section {
  margin-bottom: 20px;
}
.filters-section .filter {
  display: block;
  margin: 5px 0;
}
.filters-section .strong {
  display: block;
  margin: 10px 0;
}
@media only screen and (max-width: 900px) {
  .search-products .product-items,
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .search-products .product-items,
  .product-grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .search-products .container {
    grid-template-columns: 1fr;
  }
  .all-filters {
    display: flex;
    flex-wrap: wrap;
  }
  .filters-section {
    margin-right: 20px;
  }
}

.btn {
  background-color: #000;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.2s ease-in-out;
}
footer {
  background-color: #000;
  color: whitesmoke;
  text-align: center;
  padding: 40px 0;
}
