@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h2 {
  padding: 20px 10px;
}
ul{
  list-style-type: none;
}
ul>li{
  display: inline-block;
  padding: 20px 10px;  
}
@media only screen and (max-width:900px) {
  body{
    background-color: #666;
  }
  nav .flex {
    flex-direction: column;
  }
}
@media only screen and (max-width:768px) {
  body{
    background-color: red;
  }
  nav .flex {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color:#000;
}
a:hover {
   border-bottom: 1px solid #333;  
   transition: 0.2s ease-in-out; 
}

.category .flex {
  flex-wrap: wrap;
}

.category-item {
  height:300px;
  width: 33.33%;
  flex-grow:1;
}

.shoes {
  background: url('../images/categories/shoes.jpg') no-repeat center/cover;    
}
.hats {
  background: url('../images/categories/hats.jpg') no-repeat center/cover;    
}
.t-shirt {
  background: url('../images/categories/tshirts.jpg') no-repeat center/cover;    
}
.glasses {
  background: url('../images/categories/sunglasses.jpg') no-repeat center/cover;    
}
.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-item h2 {
  text-transform: uppercase;
  background-color: #000;
  color: whitesmoke;
  border-radius: 5px;
}

@media only screen and (max-width:900px){
  .category-item {    
    width: 50%;
  }
}
@media only screen and (max-width:768px){
  .category-item {    
    width: 100%;
  }
}

.featured-products .product{
  
}